.card-list .card {
    /*background-color: var(--lumo-base-color);*/
    border-radius: var(--lumo-border-radius);
    /*box-shadow: var(--lumo-box-shadow-xs);*/
    /*padding: calc( var(--lumo-space-s) ) var(--lumo-space-l);*/
}
.card-list img {
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: calc(var(--lumo-space-s));
    height: var(--lumo-size-l);
    width: var(--lumo-size-l);
}
